# Análisis e Implementación en SparkQL

* Entrega hasta el 24 de mayo en https://forms.gle/aRiWtjayausRFCTd8

* Los dos conjuntos de datos entregados, CSV separados por coma, Evaluación del Pitch (2021.04.13 ISoftware).csv y Asistencia del Pitch (2021.04.13 ISoftware).csv proceden de dos encuestas realizadas con Google Forms.

* Los archivos proceden de las evaluaciones de los pitch (exposiciones cortas de negocio) que realizan los estudiantes de la asignatura de Ingeniería de Software. Los estudiantes están organizados en equipos. Cada equipo realiza una presentación de máximo 15 minutos, una vez inicia la presentación todos los estudiantes deben registrar su asistencia lo cual queda registrado en 'Asistencia del Pitch (2021.04.13 ISoftware).csv' incluidos los miembros del equipo.

* El archivo `Asistencia del Pitch (2021.04.13 ISoftware).csv` contiene las columnas: `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto,`"Equipo al que perteneces:"` equipo de trabajo al que pertenece el estudiante también es texto y `"Equipo que va a exponer:"` equipo que el estudiante va a tender a su presentación.

* El archivo `Evaluación del Pitch (2021.04.13 ISoftware).csv` contiene las columnas `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto, `"Equipo que vas a evaluar:"` equipo que ha expuesto y que va a ser evaluado por cada estudiante que no sea integrante; a continuación, se tienen las siguientes columnas que corresponden a la evaluación de los respectivos ítems:

    1. "Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?",
    2. "Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?",
    3. "Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?",
    4. "Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?",
    5. "Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?",
    6. "Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos.",
    7. "Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.",
    8. "Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará.",
    9. "Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?",
    10. "Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? ",
    11. "Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?",
    12. "Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle.",
    13. "Exposición: ¿Qué tan coordinados estaban los expositores?",
    14. "Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?",
    15. "Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición.",
    * "Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)",
    * "Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación."


* Cada ítem se evalúa con la siguiente escala: 0. Ausente; 1. Deficiente; 2. Regular; 3. Aceptable; 4. Bueno; 5. Excelente

* Carge los datos, cada archivo en una tabla SparkSQL y responda cada una de las consultas dadas en cada celda. Tenga en cuenta que algunas consultas pueden tener como resultado el vacío.

# Integrantes del equipo
1. Juan Bolivar Montealegre

In [2]:
# Agrege acá el código para importar las librerias

# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()



# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
AppSpark = SparkConf().setAppName("Evaluacion iSofware")

# definimos un espacio o contexto para la App
ContextoSpark=SparkContext(conf=AppSpark)

# inicio una sesión en el espacio de la App
SesionSpark = SparkSession(ContextoSpark)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=ContextoSpark, sparkSession=SesionSpark)

In [3]:
# 1. Cargue los datos en la carpeta datalake y luego del /datalake al HDFS (Hadoop File System)
# Recuerda usar ! para ejecutar el comando en el shell. 
# Tu código a continuación...

import pandas as pd
!cp "./Evaluacion del Pitch (2021.04.12 ISoftware).csv" /datalake/Evaluacion.csv
!cp "./Asistencia del Pitch (2021.04.13 ISoftware).csv" /datalake/Asistencia.csv




df_Asistencias = pd.read_csv(
                    "/datalake/Asistencia.csv",
                    sep = ',',           # separador de campos
                    thousands = None,    # separador de miles para números
                    decimal = '.',       # separador de los decimales para números
                    encoding='utf-8') 


df_Evaluaciones = pd.read_csv(
                    "/datalake/Evaluacion.csv",
                    sep = ',',           # separador de campos
                    thousands = None,    # separador de miles para números
                    decimal = '.',       # separad
                    encoding='utf-8') 

df_Asistencias.columns = df_Asistencias.columns.str.replace(" ","_")
df_Asistencias.columns = df_Asistencias.columns.str.replace(":","")
df_Asistencias.to_csv("/datalake/Asistencia.csv")
df_Evaluaciones.columns = df_Evaluaciones.columns.str.replace(" ","_")
df_Evaluaciones.columns = df_Evaluaciones.columns.str.replace(":","")




df_Evaluaciones.columns = df_Evaluaciones.columns.str.normalize('NFKD')\
                          .str.encode('ascii', errors='ignore')\
                          .str.decode('utf-8')
df_Evaluaciones = df_Evaluaciones.rename(columns={'Introduccion_El_equipo_responde_adecuadamente_Quienes_son_y_por_que_estan_aqui?':'C1',
'Equipo_El_equipo_responde_adecuadamente_Quienes_estan_detras_de_la_idea_y_cual_es_su_funcion?':'C2',
'Problema_El_equipo_responde_adecuadamente_Que_problema_resolvera?,_es_realmente_un_problema?':'C3',
'Ventajas_El_equipo_responde_adecuadamente_Por_que_su_solucion_es_especial?,_que_la_hace_distinta_de_otras?':'C4',
'Solucion_El_equipo_responde_adecuadamente_Como_piensa_resolver_el_problema?':'C5',
'Producto_El_equipo_responde_adecuadamente_Como_funciona_el_producto_o_servicio?_Muestra_algunos_ejemplos.':'C6',
'Traccion_El_equipo_responde_adecuadamente_si_cuenta_con_clientes_que_demuestran_potencial.':'C7',
'Mercado_El_equipo_responde_conoce,_o_por_lo_menos_intentar_predecir,_el_tamano_del_mercado_que_impactara.':'C8',
'Competencia_El_equipo_responde_adecuadamente_Cuales_son_las_soluciones_alternativas_al_problema_que_plantea?':'C9',
'Modelo_de_negocio_El_equipo_responde_adecuadamente_Como_hara_dinero?_':'C10',
'Inversion_El_equipo_responde_adecuadamente_Cual_es_su_presupuesto_y_cuanto_espera_ganar?':'C11',
'Contacto_El_equipo_deja_los_datos_al_cliente_y_muestra_como_pueden_contactarle.':'C12',
'Exposicion_Que_tan_coordinados_estaban_los_expositores?':'C13',
'Exposicion_Los_expositores_se_expresaron_con_claridad_y_se_hicieron_entender?':'C14',
'Exposicion_Las_diapositivas_son_claras_y_coherentes_y_apoyaron_adecuadamente_la_exposicion.':'C15',
'Suponiendo_que_eres_inversionista,_Estarias_dispuesto_a_invertir_dinero_en_este_equipo?_(esta_pregunta_no_se_pondera_en_la_nota)':'C16',
'Observaciones_para_el_equipo,_estas_observaciones_las_debe_considerar_el_equipo_para_mejorar_la_siguiente_presentacion.':'C17'})



df_Evaluaciones.to_csv("/datalake/Evaluacion.csv")



!hdfs dfs -rm -r /files
!hdfs dfs -mkdir /files
!hdfs dfs -copyFromLocal /datalake/Evaluacion.csv /files/
!hdfs dfs -copyFromLocal /datalake/Asistencia.csv /files/

rm: `/files': No such file or directory

In [4]:
df_Asistencias.columns

Index(['Marca_temporal', 'Nombre_de_usuario', 'Equipo_al_que_perteneces',
       'Equipo_que_va_a_exponer'],
      dtype='object')

In [5]:
# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...

from pyspark.sql.functions import *

df_Asistencia = SesionSpark.read.load("/files/Asistencia.csv",
                          format="csv",
                          sep=",",
                          inferSchema="true",
                          header="true",encoding='UTF-8')


df_Asistencia = df_Asistencia.na.replace('Pertenezco a:','')
df_Asistencia = df_Asistencia.na.replace('Expone:','')

df_Evaluacion = SesionSpark.read.load("/files/Evaluacion.csv",
                          format="csv",
                          sep=",",
                          inferSchema="true",
                          header="true",encoding='UTF-8')

#df_Evaluacion.columns = df_Evaluacion.columns.str.replace(' ', '')



df_Asistencia = df_Asistencia.withColumn('Equipo_al_que_perteneces', regexp_replace("Equipo_al_que_perteneces","Pertenezco a:",""))


df_Asistencia = df_Asistencia.withColumn('Equipo_que_va_a_exponer', regexp_replace("Equipo_que_va_a_exponer","Expone:",""))

df_Asistencia.createOrReplaceTempView('df_Asistencia')

df_Evaluacion.createOrReplaceTempView('df_Evaluacion')

In [6]:
SesionSpark.sql("""
SELECT
Marca_temporal
FROM
    df_Evaluacion
""").show()

+--------------------+
|      Marca_temporal|
+--------------------+
|2021/04/08 8:26:3...|
|2021/04/08 8:26:4...|
|2021/04/08 8:27:2...|
|2021/04/08 8:27:3...|
|2021/04/08 8:27:4...|
|2021/04/08 8:27:5...|
|2021/04/08 8:27:5...|
|2021/04/08 8:27:5...|
|2021/04/08 8:28:1...|
|2021/04/08 8:28:1...|
|2021/04/08 8:28:5...|
|2021/04/08 8:29:0...|
|2021/04/08 8:29:1...|
|2021/04/08 8:29:2...|
|2021/04/08 8:29:2...|
|2021/04/08 8:29:3...|
|2021/04/08 8:29:4...|
|2021/04/08 8:29:4...|
|2021/04/08 8:29:5...|
|2021/04/08 8:29:5...|
+--------------------+
only showing top 20 rows

In [7]:
df_Asistencia.select(['Nombre_de_usuario']).show(10)

+--------------------+
|   Nombre_de_usuario|
+--------------------+
|jppinedal@unal.ed...|
|dgarciabl@unal.ed...|
|auarbelaeza@unal....|
|jmunozhe@unal.edu.co|
|dgerenal@unal.edu.co|
|nvalenciat@unal.e...|
|fmiranda@unal.edu.co|
|jucardonaa@unal.e...|
|seagudeloo@unal.e...|
|jmonsalveb@unal.e...|
+--------------------+
only showing top 10 rows

In [8]:
SesionSpark.sql("""
SELECT
COUNT(Nombre_de_usuario)
FROM
    df_Asistencia
""").show()

+------------------------+
|count(Nombre_de_usuario)|
+------------------------+
|                     662|
+------------------------+

In [9]:
# 2. Consulte el listado total de estudiantes (correos electrónicos) del 
# curso de Ingeniería de Software, ordenados alfabéticamente
# Tu código a continuación...


SesionSpark.sql("""
SELECT
Nombre_de_usuario
FROM
    df_Asistencia
ORDER BY Nombre_de_usuario ASC
""").show()

+--------------------+
|   Nombre_de_usuario|
+--------------------+
| abanolc@unal.edu.co|
| abanolc@unal.edu.co|
| abanolc@unal.edu.co|
| abanolc@unal.edu.co|
| abanolc@unal.edu.co|
| abanolc@unal.edu.co|
| abanolc@unal.edu.co|
|acastrillonv@unal...|
|acastrillonv@unal...|
|acastrillonv@unal...|
|acastrillonv@unal...|
|acastrillonv@unal...|
|acastrillonv@unal...|
|acastrillonv@unal...|
|acastrillonv@unal...|
| aflemag@unal.edu.co|
| aflemag@unal.edu.co|
| aflemag@unal.edu.co|
| aflemag@unal.edu.co|
| aflemag@unal.edu.co|
+--------------------+
only showing top 20 rows

In [10]:
# 3. Consulte la cantidad de asistencias registradas por estudiante; además, la fecha y hora de la primera asistencia
# y la fecha y hora de la última asistencia
# Tu código a continuación...


SesionSpark.sql("""
SELECT
Nombre_de_usuario , COUNT(Nombre_de_usuario) AS No_Asistencias , MIN(Marca_Temporal)  AS Primera_Asistencia, MAX(Marca_Temporal) AS Ultima_Asistencia
FROM
    df_Asistencia
    
GROUP BY Nombre_de_usuario 
""").show()

+--------------------+--------------+--------------------+--------------------+
|   Nombre_de_usuario|No_Asistencias|  Primera_Asistencia|   Ultima_Asistencia|
+--------------------+--------------+--------------------+--------------------+
|samolinap@unal.ed...|            10|2021/04/08 8:11:4...|2021/04/13 9:37:2...|
| jruedat@unal.edu.co|             8|2021/04/08 8:12:5...|2021/04/13 9:41:2...|
|nvalenciat@unal.e...|             8|2021/04/08 8:10:1...|2021/04/13 9:39:3...|
|serendona@unal.ed...|             8|2021/04/08 8:10:4...|2021/04/13 9:40:2...|
|jgutierrezlo@unal...|             8|2021/04/08 8:12:0...|2021/04/13 9:39:0...|
|dgerenal@unal.edu.co|             8|2021/04/08 8:10:0...|2021/04/13 9:41:2...|
|cjfunezg@unal.edu.co|             8|2021/04/08 8:12:1...|2021/04/13 9:41:4...|
|emflorezb@unal.ed...|             8|2021/04/08 8:14:0...|2021/04/13 9:45:4...|
|dchavarriar@unal....|             8|2021/04/08 8:13:0...|2021/04/13 9:43:5...|
|fguerrerot@unal.e...|             8|2021/04/08 8:13:0...|2021/04/13 9:40:1...|
|jdroldano@unal.ed...|             1|2021/04/08 8:20:1...|2021/04/08 8:20:1...|
|jovillarrealm@una...|            10|2021/04/08 10:02:...|2021/04/13 9:42:5...|
|juriveras@unal.ed...|             8|2021/04/08 8:13:3...|2021/04/13 9:41:1...|
|dguardia@unal.edu.co|             8|2021/04/08 8:12:5...|2021/04/13 9:40:3...|
| lrdiaza@unal.edu.co|             7|2021/04/08 8:14:5...|2021/04/13 9:45:2...|
|fmiranda@unal.edu.co|             8|2021/04/08 8:10:1...|2021/04/13 9:45:0...|
|dcadavid@unal.edu.co|             8|2021/04/08 8:13:0...|2021/04/13 9:40:5...|
| bocampo@unal.edu.co|             8|2021/04/08 8:13:3...|2021/04/13 9:42:1...|
|rmbuilesm@unal.ed...|             9|2021/04/08 8:14:1...|2021/04/13 9:41:3...|
|jmunozhe@unal.edu.co|             8|2021/04/08 8:09:5...|2021/04/13 9:10:1...|
+--------------------+--------------+--------------------+--------------------+
only showing top 20 rows

In [11]:
# 4. Consulte el listado de estudiantes que asistieron a 2 presentaciones o menos (una).
# Tu código a continuación...



SesionSpark.sql("""
SELECT
Nombre_de_usuario , COUNT(Nombre_de_usuario) AS No_Asistencias 
FROM
    df_Asistencia
    
GROUP BY Nombre_de_usuario 
HAVING No_Asistencias <= 2
""").show()

+--------------------+--------------+
|   Nombre_de_usuario|No_Asistencias|
+--------------------+--------------+
|jdroldano@unal.ed...|             1|
+--------------------+--------------+

In [12]:
# 5. Consulte el listado de estudiantes que no asistieron a ninguna presentación.
# Tu código a continuación...


SesionSpark.sql("""
SELECT
TABLA1.Nombre_de_usuario   , COUNT(TABLA2.Nombre_de_usuario) AS ASISTENCIAS
FROM
    df_Evaluacion AS TABLA1    
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
GROUP BY TABLA1.Nombre_de_usuario
HAVING ASISTENCIAS = 0

""").show()

+--------------------+-----------+
|   Nombre_de_usuario|ASISTENCIAS|
+--------------------+-----------+
| permitiendo hace...|          0|
| podría ser perde...|          0|
|                null|          0|
| no se requiere y...|          0|
| su propuesta de ...|          0|
| y/o en el caso d...|          0|
| pero es por falt...|          0|
| tracción es qué ...|          0|
+--------------------+-----------+

In [13]:
# 6. Consulte los integrantes por cada equipo al que pertenecen.
# Tu código a continuación...

SesionSpark.sql("""
SELECT
Equipo_al_que_perteneces, collect_list(Nombre_de_usuario) USU
FROM
    df_Asistencia
GROUP BY Equipo_al_que_perteneces
""").show()

+------------------------+--------------------+
|Equipo_al_que_perteneces|                 USU|
+------------------------+--------------------+
|     Lo tengo y te lo...|[dgarciabl@unal.e...|
|     Gestión de Resid...|[auarbelaeza@unal...|
|     Gestión de progr...|[jucardonaa@unal....|
|         Mi Sanandresito|[fmiranda@unal.ed...|
|     Servicios a domi...|[jppinedal@unal.e...|
|     Administración d...|[lumarinb@unal.ed...|
|           Te lo cambio.|[dgerenal@unal.ed...|
|     Gestión de Menús...|[jcardonaso@unal....|
+------------------------+--------------------+

In [14]:
# 7. Consulte la cantidad de asistentes por presentación, sin considerar los asistentes que pertenecen 
# al equipo que realizó la presentación.
# Tu código a continuación...

SesionSpark.sql("""
SELECT
Equipo_que_va_a_exponer  AS FILTER, SUM(
CASE WHEN Equipo_que_va_a_exponer = Equipo_al_que_perteneces THEN 0 ELSE 1 END
) AS Conteo_Otros_estudiantes
FROM
df_Asistencia
GROUP BY Equipo_que_va_a_exponer
""").show()

+--------------------+------------------------+
|              FILTER|Conteo_Otros_estudiantes|
+--------------------+------------------------+
| Lo tengo y te lo...|                      75|
| Gestión de Resid...|                      72|
| Gestión de progr...|                      74|
|     Mi Sanandresito|                      72|
| Deserción de est...|                       3|
| Servicios a domi...|                      76|
| Administración d...|                      70|
|       Te lo cambio.|                      75|
| Gestión de Menús...|                      72|
+--------------------+------------------------+

In [15]:
# 8. Consutar cuáles integrantes evaluaron a su propio equipo. Estas evaluaciones no serán válidas, pues un
# integrante no puede evaluar a su propio equipo.
# Tu código a continuación...

SesionSpark.sql("""
SELECT
TABLA1.Nombre_de_usuario , TABLA2.Equipo_al_que_perteneces , TABLA1.Equipo_que_vas_a_evaluar
FROM
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces = TABLA1.Equipo_que_vas_a_evaluar
""").show()

+-----------------+------------------------+------------------------+
|Nombre_de_usuario|Equipo_al_que_perteneces|Equipo_que_vas_a_evaluar|
+-----------------+------------------------+------------------------+
+-----------------+------------------------+------------------------+

In [16]:
df_Evaluaciones.columns

Index(['Marca_temporal', 'Nombre_de_usuario', 'Equipo_que_vas_a_evaluar', 'C1',
       'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12',
       'C13', 'C14', 'C15', 'C16', 'C17'],
      dtype='object')

In [18]:
# 9. Consultar la nota promedio por cada ítem (1 al 15), y la nota promedio total del cada equipo. Recuerde que no
# son válidas las evaluaciones realizadas por los miembros del mismo equipo.
# Tu código a continuación...


SesionSpark.sql("""


create or replace temporary view temp_view_t_2 AS (

SELECT
       Equipo_que_vas_a_evaluar  AS EQUIPO,
       round(mean(C1),4) AS P_C1,
       round(mean(C2),4) AS P_C2,
       round(mean(C3),4) AS P_C3,
       round(mean(C4) ,4) AS P_C4,
       round(mean(C5),4) AS P_C5,
       round(mean(C6),4) AS P_C6,
       round(mean(C7),4) AS P_C7,
       round(mean(C8),4) AS P_C8,
       round(mean(C9),4) AS P_C9,
       round(mean(C10),4) AS P_C10,
       round(mean(C11),4) AS P_C11,
       round(mean(C12),4) AS P_C12,
       round(mean(C13),4) AS P_C13,
       round(mean(C14),4) AS P_C14,
       round(mean(C15),4) AS P_C15
FROM 
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces <> TABLA1.Equipo_que_vas_a_evaluar
GROUP BY Equipo_que_vas_a_evaluar
)


""")


a = SesionSpark.sql("""


SELECT * FROM temp_view_t_2
 
""").show()

+--------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|              EQUIPO|  P_C1|  P_C2|  P_C3|  P_C4|  P_C5|  P_C6|  P_C7|  P_C8|  P_C9| P_C10| P_C11| P_C12| P_C13| P_C14| P_C15|
+--------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|Servicios a domic...|4.4932|4.6331|4.5171|4.2747|4.5085| 4.616| 4.116|4.1314|4.3396|4.2747|4.1706|4.6502|4.4915|4.5546|4.5529|
|Lo tengo y te lo ...|4.4808|4.6063|4.2666|4.4286|4.4181|4.7213|4.3502|4.2474|4.4843|4.4599|4.3554|4.5976|4.5226|4.6045| 4.615|
|Gestión de Reside...|4.5577|4.4263|4.6412|4.4494|4.4636| 4.119|4.5204|4.6821| 4.421|4.5275|4.3499|4.6465|4.4263|4.5187|4.4085|
|       Te lo cambio.|4.3457|4.0247|4.2222|4.0018|4.4444|4.8377|4.0864|4.0882|4.2011| 4.321|3.5944|4.4991| 4.575|4.4568|4.5467|
|Administración de...| 4.125|4.4167|3.9728|3.9348|4.1884|4.4384|4.0471|4.4203|3.9475|4.4167|4.1304|4.1377|4.3243| 4.221|4.1449|
|Deserción de estu...|   4.5|   5.0|   5.0|   5.0|   4.5|   5.0|   5.0|   4.5|   5.0|   4.5|   4.5|   5.0|   4.5|   4.5|   5.0|
|Gestión de Menús ...|4.3197|3.9795|4.5607|4.3145|4.3795|4.0222|   4.2|4.2222| 4.294|4.6291|4.3077|4.4991|4.4581|4.4462|4.7214|
|Gestión de progra...|4.3903|4.4093|4.5544|3.9326|4.3541|4.4577|4.4266| 4.506|4.2936|4.3316|4.5423|4.4404|4.4611|4.4957| 4.639|
|     Mi Sanandresito|4.2044|3.9088|4.3041|4.0169|4.3226|4.3193|4.2517|4.3919|3.5186|4.3581|4.3767|4.6301|4.2753|4.1757| 4.125|
+--------------------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+

In [58]:
# 10. Consulte el mejor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el mejor equipo según el promedio total.
# Tu código a continuación...


SesionSpark.sql("""

create or replace temporary view temp_view_t AS (

SELECT 


MAX(P_C1)  AS M_C1, 
MAX(P_C2)  AS M_C2,
MAX(P_C3)  AS M_C3,
MAX(P_C4)  AS M_C4,
MAX(P_C5)  AS M_C5,
MAX(P_C6)  AS M_C6,
MAX(P_C7)  AS M_C7,
MAX(P_C8)  AS M_C8,
MAX(P_C9)  AS M_C9,
MAX(P_C10) AS M_C10,
MAX(P_C11) AS M_C11,
MAX(P_C12) AS M_C12,
MAX(P_C13) AS M_C13,
MAX(P_C14) AS M_C14,
MAX(P_C15) AS M_C15

FROM (

SELECT
       Equipo_que_vas_a_evaluar  AS EQUIPO,
       round(mean(C1),4) AS P_C1,
       round(mean(C2),4) AS P_C2,
       round(mean(C3),4) AS P_C3,
       round(mean(C4) ,4) AS P_C4,
       round(mean(C5),4) AS P_C5,
       round(mean(C6),4) AS P_C6,
       round(mean(C7),4) AS P_C7,
       round(mean(C8),4) AS P_C8,
       round(mean(C9),4) AS P_C9,
       round(mean(C10),4) AS P_C10,
       round(mean(C11),4) AS P_C11,
       round(mean(C12),4) AS P_C12,
       round(mean(C13),4) AS P_C13,
       round(mean(C14),4) AS P_C14,
       round(mean(C15),4) AS P_C15
FROM 
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces <> TABLA1.Equipo_que_vas_a_evaluar
GROUP BY Equipo_que_vas_a_evaluar

) AS PROMEDIOS
)



""")



SesionSpark.sql("""

create or replace temporary view temp_view_t_2 AS (


SELECT
       Equipo_que_vas_a_evaluar  AS EQUIPO,
       round(mean(C1),4) AS P_C1,
       round(mean(C2),4) AS P_C2,
       round(mean(C3),4) AS P_C3,
       round(mean(C4) ,4) AS P_C4,
       round(mean(C5),4) AS P_C5,
       round(mean(C6),4) AS P_C6,
       round(mean(C7),4) AS P_C7,
       round(mean(C8),4) AS P_C8,
       round(mean(C9),4) AS P_C9,
       round(mean(C10),4) AS P_C10,
       round(mean(C11),4) AS P_C11,
       round(mean(C12),4) AS P_C12,
       round(mean(C13),4) AS P_C13,
       round(mean(C14),4) AS P_C14,
       round(mean(C15),4) AS P_C15
FROM 
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces <> TABLA1.Equipo_que_vas_a_evaluar
GROUP BY Equipo_que_vas_a_evaluar

)



""")



a = SesionSpark.sql("""


SELECT * FROM 

(
SELECT 

'M_C1' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C1  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C1 = TABLA2.P_C1

UNION 

SELECT 

'M_C2' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C2  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C2 = TABLA2.P_C2


UNION 

SELECT 

'M_C3' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C3  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C3 = TABLA2.P_C3


UNION 

SELECT 

'M_C4' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C4  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C4 = TABLA2.P_C4

UNION 

SELECT 

'M_C5' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C5  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C5 = TABLA2.P_C5


UNION 

SELECT 

'M_C6' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C6  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C6 = TABLA2.P_C6

UNION 

SELECT 

'M_C7' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C7  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C7 = TABLA2.P_C7

UNION 

SELECT 

'M_C8' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C8  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C8 = TABLA2.P_C8

UNION 

SELECT 

'M_C9' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C9  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C9 = TABLA2.P_C9

UNION 

SELECT 

'M_C10' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C10  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C10 = TABLA2.P_C10

UNION 

SELECT 

'M_C11' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C11  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C11 = TABLA2.P_C11

UNION 

SELECT 

'M_C12' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C12  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C12 = TABLA2.P_C12

UNION 

SELECT 

'M_C13' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C13  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C13 = TABLA2.P_C13

UNION 

SELECT 

'M_C14' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C14  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C14 = TABLA2.P_C14


UNION

SELECT 

'M_C15' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C15  AS MAX 

FROM temp_view_t AS TABLA1

LEFT JOIN temp_view_t_2  AS TABLA2 ON TABLA1.M_C15 = TABLA2.P_C15

) ORDER BY VARIABLE ASC

""").show()

+--------+--------------------+------+
|VARIABLE|              EQUIPO|   MAX|
+--------+--------------------+------+
|    M_C1|Gestión de Reside...|4.5577|
|   M_C10|Gestión de Menús ...|4.6291|
|   M_C11|Gestión de progra...|4.5423|
|   M_C12|Deserción de estu...|   5.0|
|   M_C13|       Te lo cambio.| 4.575|
|   M_C14|Lo tengo y te lo ...|4.6045|
|   M_C15|Deserción de estu...|   5.0|
|    M_C2|Deserción de estu...|   5.0|
|    M_C3|Deserción de estu...|   5.0|
|    M_C4|Deserción de estu...|   5.0|
|    M_C5|Servicios a domic...|4.5085|
|    M_C6|Deserción de estu...|   5.0|
|    M_C7|Deserción de estu...|   5.0|
|    M_C8|Gestión de Reside...|4.6821|
|    M_C9|Deserción de estu...|   5.0|
+--------+--------------------+------+

In [36]:
# 11. Consulte el peor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el peor equipo según el promedio total.
# Tu código a continuación...




SesionSpark.sql("""

create or replace temporary view temp_view_min AS (

SELECT 


MIN(P_C1)  AS M_C1, 
MIN(P_C2)  AS M_C2,
MIN(P_C3)  AS M_C3,
MIN(P_C4)  AS M_C4,
MIN(P_C5)  AS M_C5,
MIN(P_C6)  AS M_C6,
MIN(P_C7)  AS M_C7,
MIN(P_C8)  AS M_C8,
MIN(P_C9)  AS M_C9,
MIN(P_C10) AS M_C10,
MIN(P_C11) AS M_C11,
MIN(P_C12) AS M_C12,
MIN(P_C13) AS M_C13,
MIN(P_C14) AS M_C14,
MIN(P_C15) AS M_C15

FROM (

SELECT
       Equipo_que_vas_a_evaluar  AS EQUIPO,
       round(mean(C1),4) AS P_C1,
       round(mean(C2),4) AS P_C2,
       round(mean(C3),4) AS P_C3,
       round(mean(C4) ,4) AS P_C4,
       round(mean(C5),4) AS P_C5,
       round(mean(C6),4) AS P_C6,
       round(mean(C7),4) AS P_C7,
       round(mean(C8),4) AS P_C8,
       round(mean(C9),4) AS P_C9,
       round(mean(C10),4) AS P_C10,
       round(mean(C11),4) AS P_C11,
       round(mean(C12),4) AS P_C12,
       round(mean(C13),4) AS P_C13,
       round(mean(C14),4) AS P_C14,
       round(mean(C15),4) AS P_C15
FROM 
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces <> TABLA1.Equipo_que_vas_a_evaluar
GROUP BY Equipo_que_vas_a_evaluar

) AS PROMEDIOS
)






""")



SesionSpark.sql("""

create or replace temporary view temp_view_min_2 AS (


SELECT
       Equipo_que_vas_a_evaluar  AS EQUIPO,
       round(mean(C1),4) AS P_C1,
       round(mean(C2),4) AS P_C2,
       round(mean(C3),4) AS P_C3,
       round(mean(C4) ,4) AS P_C4,
       round(mean(C5),4) AS P_C5,
       round(mean(C6),4) AS P_C6,
       round(mean(C7),4) AS P_C7,
       round(mean(C8),4) AS P_C8,
       round(mean(C9),4) AS P_C9,
       round(mean(C10),4) AS P_C10,
       round(mean(C11),4) AS P_C11,
       round(mean(C12),4) AS P_C12,
       round(mean(C13),4) AS P_C13,
       round(mean(C14),4) AS P_C14,
       round(mean(C15),4) AS P_C15
FROM 
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces <> TABLA1.Equipo_que_vas_a_evaluar
GROUP BY Equipo_que_vas_a_evaluar

)



""")



a = SesionSpark.sql("""


SELECT * FROM 

(
SELECT 

'M_C1' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C1  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C1 = TABLA2.P_C1

UNION 

SELECT 

'M_C2' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C2  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C2 = TABLA2.P_C2


UNION 

SELECT 

'M_C3' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C3  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C3 = TABLA2.P_C3


UNION 

SELECT 

'M_C4' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C4  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C4 = TABLA2.P_C4

UNION 

SELECT 

'M_C5' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C5  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C5 = TABLA2.P_C5


UNION 

SELECT 

'M_C6' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C6  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C6 = TABLA2.P_C6

UNION 

SELECT 

'M_C7' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C7  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C7 = TABLA2.P_C7

UNION 

SELECT 

'M_C8' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C8  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C8 = TABLA2.P_C8

UNION 

SELECT 

'M_C9' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C9  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C9 = TABLA2.P_C9

UNION 

SELECT 

'M_C10' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C10  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C10 = TABLA2.P_C10

UNION 

SELECT 

'M_C11' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C11  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C11 = TABLA2.P_C11

UNION 

SELECT 

'M_C12' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C12  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C12 = TABLA2.P_C12

UNION 

SELECT 

'M_C13' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C13  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C13 = TABLA2.P_C13

UNION 

SELECT 

'M_C14' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C14  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C14 = TABLA2.P_C14


UNION

SELECT 

'M_C15' AS VARIABLE,
TABLA2.EQUIPO AS EQUIPO , 
M_C15  AS MIN 

FROM temp_view_min AS TABLA1

LEFT JOIN temp_view_min_2  AS TABLA2 ON TABLA1.M_C15 = TABLA2.P_C15

) ORDER BY VARIABLE ASC

""").show()

+--------+--------------------+------+
|VARIABLE|              EQUIPO|   MIN|
+--------+--------------------+------+
|    M_C1|Administración de...| 4.125|
|   M_C10|Servicios a domic...|4.2747|
|   M_C11|       Te lo cambio.|3.5944|
|   M_C12|Administración de...|4.1377|
|   M_C13|     Mi Sanandresito|4.2753|
|   M_C14|     Mi Sanandresito|4.1757|
|   M_C15|     Mi Sanandresito| 4.125|
|    M_C2|     Mi Sanandresito|3.9088|
|    M_C3|Administración de...|3.9728|
|    M_C4|Gestión de progra...|3.9326|
|    M_C5|Administración de...|4.1884|
|    M_C6|Gestión de Menús ...|4.0222|
|    M_C7|Administración de...|4.0471|
|    M_C8|       Te lo cambio.|4.0882|
|    M_C9|     Mi Sanandresito|3.5186|
+--------+--------------------+------+

In [59]:
# 12. Consulte la lista de estudiantes con la correspondiente nota obtenida en la presentación 
# (nota promedio total de la evaluación obtenida por el equipo)
# Tu código a continuación...

from pyspark.sql import functions as F
    
SesionSpark.sql("""


create or replace temporary view temp_view_t_2 AS (

SELECT
       Equipo_que_vas_a_evaluar  AS EQUIPO,
       round(mean(C1),4) AS P_C1,
       round(mean(C2),4) AS P_C2,
       round(mean(C3),4) AS P_C3,
       round(mean(C4) ,4) AS P_C4,
       round(mean(C5),4) AS P_C5,
       round(mean(C6),4) AS P_C6,
       round(mean(C7),4) AS P_C7,
       round(mean(C8),4) AS P_C8,
       round(mean(C9),4) AS P_C9,
       round(mean(C10),4) AS P_C10,
       round(mean(C11),4) AS P_C11,
       round(mean(C12),4) AS P_C12,
       round(mean(C13),4) AS P_C13,
       round(mean(C14),4) AS P_C14,
       round(mean(C15),4) AS P_C15
FROM 
df_Evaluacion AS TABLA1
LEFT JOIN df_Asistencia AS TABLA2 ON TABLA1.Nombre_de_usuario = TABLA2.Nombre_de_usuario
WHERE TABLA2.Equipo_al_que_perteneces <> TABLA1.Equipo_que_vas_a_evaluar
GROUP BY Equipo_que_vas_a_evaluar
)


""")

b = SesionSpark.sql("""
SELECT EQUIPO , (P_C1 + P_C2 + P_C3 + P_C4 + P_C5 + P_C6 + P_C7 + P_C8 + P_C9 + P_C10 + P_C11 + P_C12 + P_C13  + P_C14 + P_C15)/15 AS CALIFICACION FROM temp_view_t_2
""").show()

+--------------------+------------------+
|              EQUIPO|      CALIFICACION|
+--------------------+------------------+
|Servicios a domic...|4.4216066666666665|
|Lo tengo y te lo ...| 4.477239999999999|
|Gestión de Reside...| 4.477206666666666|
|       Te lo cambio.| 4.283013333333333|
|Administración de...| 4.191066666666666|
|Deserción de estu...| 4.766666666666667|
|Gestión de Menús ...|4.3569266666666655|
|Gestión de progra...| 4.415646666666666|
|     Mi Sanandresito| 4.211946666666666|
+--------------------+------------------+